@font-face {
  font-family: 'Fox Veteran';
  src: url('./fonts/FoxVeteranRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont.woff2') format('woff2 supports variations'), url('./fonts/Inter-VariableFont.woff2') format('woff2-variations');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

body {
  background-color: theme('colors.brand.white');
  color: theme('colors.brand.black');
  font-family: theme('fontFamily.sans');
}

.wysiwyg, #tinymce {
  a:not([class*="btn"]) {
    color: theme('colors.brand.dark-orange');
    text-decoration: underline;
  
    &:hover {
      text-decoration-color: transparent;
    }
  }

  > *:not(:first-child) {
    margin-top: theme('space.4');
  }

  :where( .font-serif ) {
    line-height: theme('lineHeight.tight');
  }

  ul,
  ol {
    padding-left: theme('padding.5');

    li {
      &:not(:last-child) {
        &:not([class*="mb-"]) {
          margin-bottom: theme('margin.4');
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

    /*
   * Set default list styles back to disk
   * and number
   */
  ul {
    list-style-type: theme('listStyleType.disc');
  }

  ol {
    list-style-type: theme('listStyleType.decimal');
  }
}

.btn-text {
  font-size: theme('fontSize.sm');
  font-family: theme('fontFamily.serif');
  display: inline-block;
  line-height: theme('lineHeight.tight');
}

.social-title {
  font-family: theme('fontFamily.serif');
  font-size: theme('fontSize.lg');
  text-align: center;
  margin-bottom: theme('space.2');
}

.social-list {
  display: flex;
  justify-content: center;
  gap: theme('space.4');
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: theme('space.4');
  padding-right: theme('space.4');
  padding-top: theme('space.2');
  padding-bottom: theme('space.2');
  border-top: solid 2px theme('colors.brand.black');
  border-bottom: solid 2px theme('colors.brand.black');
}

.social-link {
  display: inline-block;
  transition: 0.25s;

  &:hover {
    color: theme('colors.brand.orange');
  }
}

.social-icon {
  height: theme('space.6');
  width: theme('space.6');
}