/* Main css */

.footer-main {
  min-height: 5rem;
  background-image: url('./img/paperbg.jpg');
}

.header {
  height: 4.5rem;
}

.primary-nav {
  height: calc( 100vh - 4.5rem );

  @screen md {
    height: auto;
  }

  &.is-open {
    display: block;
  }
}

.navbar-toggle {
  /* Set the width and height of your toggle button and height of the lines and everything else should be calculated accordingly */
  --toggleWidth: theme('width.7');
  --toggleHeight: theme('height.4');
  --lineHeight: 2px;
  --bottomPosition: calc(var(--toggleHeight) - var(--lineHeight));
  --middlePosition: calc(var(--bottomPosition) / 2 );

  position: relative;
  display: inline-block;
  width: var(--toggleWidth);
  height: var(--toggleHeight);
  outline: none;

  &:focus {
    outline: none;
  }
}

.navbar-toggle.is-open {
  .navbar-toggle-icon {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center center;

    &::before {
      opacity: 0;
    }

    &::after {
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      transform-origin: center center;
    }
  }
}

.navbar-toggle-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: var(--toggleWidth);
  height: var(--lineHeight);
  background-color: currentColor;
  transition: all 0.15s ease;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: var(--toggleWidth);
    height: var(--lineHeight);
    background-color: currentColor;
  }

  &::before {
    top: var(--middlePosition);
  }

  &::after {
    top: var(--bottomPosition);
    transition: all 0.15s ease;
  }
}

.image-content {
  background-image: url('./img/paperbg.jpg');
}

.banner__grid {
  grid-template-columns: 1fr 1fr;

  @screen md {
    grid-template-columns: 1fr minmax(4rem, 1fr) 1fr;
  }
}

.gform_wrapper.gravity-theme {

  input[type="email"],
  input[type="tel"],
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="file"],
  input[type="url"],
  select,
  textarea {
    border: solid theme('borderWidth.2') theme('colors.brand.dark-orange');
    padding-top: theme('padding.2');
    padding-bottom: theme('padding.2');
    padding-left: theme('padding.4');
    padding-right: theme('padding.4');
    border-radius: theme('borderRadius.DEFAULT');
    background-color: white;
  }
}