/* Main css */

.footer-main {
  min-height: 5rem;
  background-image: url('./img/paperbg.jpg');

  .wp-block-navigation__container {
    gap: theme('space.4');
    align-items: center;

    @screen md {
      align-items: flex-start;
    }
  }

  .wp-block-navigation-item__content {
    font-family: theme('fontFamily.serif');
    line-height: theme('lineHeight.tight');

    &:hover {
      text-decoration: underline;
      color: theme('colors.brand.dark-orange');
    }
  }
}

.footer__logo {
  .custom-logo-link {
    display: block;
  }

  .custom-logo {
    width: 100%;
    height: 100%;
  }
}

.header {
  height: 4.5rem;

  .wp-block-navigation-item__content {
    transition: .25s;
    
    &:hover {
      text-decoration: underline;
      text-underline-offset: theme('space.2');
      text-decoration-thickness: 4px;
    }
  }
}

.header__logo {
  height: 100%;

  .wp-block-site-logo {
    height: 100%;
  }

  .custom-logo-link {
    display: block;
    height: 100%;
  }

  .custom-logo {
    width: 100%;
    height: 100%;
  }
}

.image-content {
  background-image: url('./img/paperbg.jpg');
}

.banner__grid {
  grid-template-columns: 1fr 1fr;

  @screen md {
    grid-template-columns: 1fr minmax(4rem, 1fr) 1fr;
  }
}

.gform_wrapper.gravity-theme {

  input[type="email"],
  input[type="tel"],
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="file"],
  input[type="url"],
  select,
  textarea {
    border: solid theme('borderWidth.2') theme('colors.brand.dark-orange');
    padding-top: theme('padding.2');
    padding-bottom: theme('padding.2');
    padding-left: theme('padding.4');
    padding-right: theme('padding.4');
    border-radius: theme('borderRadius.DEFAULT');
    background-color: white;
  }
}